@font-face{
	font-family: colossalis;
	src:url('colossalis Bold.ttf');
}

body{
	border-top: 8px solid #ec8e08;
	color: #888;
	font-family: "Trebuchet MS",tahoma,arial,sans-serif;
}


h1,h2,h3,h4,h5,h6 {
	color: #ec8e08;
	font-family: colossalis, Impact,sans-serif;
}
.clear{
	clear: both;
}
.icons-ul {
	padding-left: 0;
}

/***************logo************/
.logo{
	float: left;
	max-width: 50%;
	margin:20px 0 20px 0;
}
.logo h2{
	display: inline-block;
	font-size: 3em;
	padding-right: 5px;
	margin-top: 0px;
}

.logo h3{
	display: inline-block;
	color: #a1a1a1;
	border-left: 2px solid #a1a1a1;
	font: 1.75em "Trebuchet MS",tahoma,arial,sans-serif;
	padding-left: 10px;
	position: relative;
	top: -.2em;
}

/***************social media************/
.social ul li a {
background: -webkit-linear-gradient(#999999, #6C6C6C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#999999, #6C6C6C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#999999, #6C6C6C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#999999, #6C6C6C); /* Standard syntax */
    padding: 10px 10px;
    border-radius: 8px;
}

.social ul li.active{
	border-radius: 8px;
	padding: 7px 2px;
background: -webkit-linear-gradient(#999999, #6C6C6C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#999999, #6C6C6C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#999999, #6C6C6C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#999999, #6C6C6C); /* Standard syntax */
}

.social ul li a i{
	font-size: 14px;
}

.social p {
    margin: 0 9px 10px;
    font-size: 14px;
    font-family: sans-serif;
    word-spacing: 5px;
}

.social{
	float: right;
	text-align: right;
}
.social ul {
		list-style-type: none;
		padding-left: 0;
		margin-top: 0;
		margin-right:-5px;
}
.social ul li {
	display: inline-block;
	margin-right:10px;
}

.social a i {
	color: #D7D7D7;
	font-size: 2.5em;
	text-decoration: none;
	transition: color .5s;
	-moz-transition: color .5s;
	-webkit-transition: color .5s;
}
.social a:hover i.fa-facebook {
		color: #385998;
}
.social a:hover i.fa-twitter {
		color: #4099ff;
}
.social a:hover i.fa-google {
		color: #d34836;
}
.social a:hover i.fa-youtube {
		color: #ff3333;
}
.social p {
	margin: 10px 0;
	font-size: 18px;
	padding-right: 10px;
}

/***************navigation************/
nav{
	border: 1px solid #ccc;
	clear: both;
	height: 45px;
}
.main-nav {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.main-nav li {
	border-right: 1px solid #ccc;
	float: left;
	position: relative;
	height: 45px;
	width: 100px;
}
.main-nav li a {
	position: absolute;
	color: #a1a1a1;
	text-decoration: none;
	width: 100px;
	height: 45px;
	text-align: center;
	font-size: 14px;
	padding-top: 14px;
	transition: background-color .5s;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
}
.main-nav li a i{
	margin-right:10px;
}
.main-nav li a:hover {
	background-color: #eee;
}
.search {
	float: right;
	color: #a1a1a1;
	margin: 10px 10px 0 0;
}
.search input{
	border: 1px solid #a1a1a1;
	background-color: #eee;
	border-radius: 30px;
	padding-left: 8px;
}
.search a{
	text-decoration: none;
	color: #a1a1a1;
	margin-left: 5px;
}

/************content slider*************/
.slider-area{
	height: 260px;
	width: 100%;
	margin:20px 0;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -88px;
    background: #adadad;
    height: 60px;
    padding-top: 13px;
    margin-top: -35px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -88px;
    background: #adadad;
    height: 60px;
    padding-top: 13px;
    margin-top: -35px;
}
.slider-area .item .oneslide-wrap img{
	margin:15px 0;
}
.slider-area .item .oneslide-wrap .slide-content h3{
	font-size: 48px;
}
.slider-area .item .oneslide-wrap .slide-content h3.slider-title span{
	font-size: 24px;
	color: #cacaca;
	letter-spacing: 2px;
}
.slider-area .item .oneslide-wrap .slide-content a.slider-button{
	font-size: 18px;
	margin: 12px 0 0 12px;
}
.slider-area .item .oneslide-wrap .slide-content .link-bg{
	background: #b5e18a;
	width: 300px;
	height: 60px;
}
.slider-area .item .oneslide-wrap .slide-content a{
	text-decoration: none;
	color: #fff;
}
.slider-area .item .oneslide-wrap .slide-content span.business{
	font-size: 14px;
	margin: 8px 25px 15px 12px;
	color: #fff;
}

/*************3/column setup************/
.column-five-thirds p{
	margin-top: 30px;
}
.column-six-thirds ul li{
	list-style: none;
	margin-top: 30px;
}
.column-six-thirds ul li i{
	margin-left: -10px;
} 
.column-six-thirds ul li p{
	padding-left:10px;
}
.column-six-thirds ul li i strong{
	margin-right: -10px;
}
b, strong {
    font-weight: 700;
    padding-left: 10px;
    font-size: 16px;
}

/*************4/column setup************/
.meet-team .col-md-3 {
    width: 25%;
    padding: 0;
}

.column-one-rourth {
	border: 1px solid #ddd;
	border-left: none;
	padding: 10px;
	width: 100%;
	float: left;
}
.column-two-rourth {
	border: 1px solid #ddd;
	border-left: none;
	padding: 10px;
	width: 100%;
	float: left;
	margin-left: 0px;
}
.column-three-rourth {
	border: 1px solid #ddd;
	border-left: none;
	padding: 10px;
	width: 100%;
	float: left;
	margin-left: 0px;
}
.column-four-rourth {
	border: 1px solid #ddd;
	border-left: none;
	padding: 10px;
	width: 100%;
	float: left;
	margin-left: 0px;
}
.column-one-rourth:first-child {
	border-left: 1px solid #ddd;
}


/*************Meet-the-Team************/
.Meet-the-Team{
	margin:20px 0;
}
.image-container{
	position: relative;
	height: 160px;
}
.meet-team .column-one-rourth .image-container .image-caption{
	margin-left: 25px;
	background: #c0c2c2;
	color: #fff;
	opacity: .8;
	width: 220px;
	position: absolute;
	bottom: 0;
	padding: 3px 10px;
}
.meet-team .column-one-rourth .image-container .image-caption span.Designer{
	padding-left: 10px;
}

.meet-team .column-one-rourth p{
	margin:20px 10px 40px 25px;
}


/*************footer************/
.column-one-thirds, .column-two-thirds{
	 float: right;
    margin-right: 24px;
    margin-top: -117px;
    padding: 0
}
footer{
	background-color: #555;
	border-top: 8px solid #ec8e08;
	margin-top: 20px;
	width: 100%;
}
.footer-row{
	margin: 0 auto;
	padding:0 75px;
}
.footer-row p i{
	margin-right:6px;
}
.copyright {
	text-align: center;
	width: 1165px;
	border-top: 1px solid #888;
	margin: 0 auto;
	font-size: 12px;
	padding: 10px;
}
footer h3 {
	color: #fff;
	font: 1.4em "Trebuchet MS",tahoma,arial,sans-serif;
}
.thumbnails {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.thumbnails li {
	float: left;
	margin-right: 8px;
}




